* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #4e858a; */
  background-color: rgb(78, 133, 138);
  background: linear-gradient(NaNdeg, rgba(78, 133, 138, 1) 20%, rgba(100, 162, 167, 1) 75%);
}


header {
  background-color: #47d052;
  padding: 20px 20px 50px 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0.7;
}

nav h1 {
  color: #000009;
  font-size: 24px;
  float: left;
  font-family: "Playfair Display", serif;
}

nav ul {
  list-style: none;
  float: right;
  display: flex;
  margin-top: 10px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: bold;
  margin-left: 15px;
}

nav ul li a:hover {
  background-color: #ded4d4;
  border-radius: 10px;
  opacity: 0.7;
}
avatar {
  cursor: pointer;
  color: #fff;
}
.logout-btn {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #333;
}

.logout-btn:hover {
  background-color: #555;
  transform: translateY(3px);
}
nav .fa-bars {
  display: none;
  color: #333;
  font-size: 30px;
  cursor: pointer;
}
nav .fa-bars:hover {
  color: #fff;
  transform: scaleX(1.5);
  transform: translateY(3px);
}

/* Overlay */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.fa-times {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font-size: 36px;
  margin-left: 30px;
  cursor: pointer;
}
.overlay-content a {
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  font-size: 20x;
  color: rgb(78, 133, 138);
  display: block;
  transition: 0.3s;
}
.overlay-content a:hover,
.overlay-content a:focus {
  color: #333;
}



main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.hero {
  text-align: center;
}

.hero h3 {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="email"] {
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
}

.btn:hover {
  background-color: #47d052;
  transform: translateY(3px);
}

.snap {
  text-align: center;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  border-radius: 10px;
  padding: 40px;
}

section#result h3{
  text-align: center;
  color: whitesmoke;
  margin: 20px;

}
div.results{
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  max-width: 800px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
}
div.results p {
  width: 40%;
  margin: 10px;
  padding: 10px;
}
footer {
  background-color: #47d052;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  main {
    margin: 20px;
  }
  .snap {
    font-size: 45px;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul li {
    display: none;
  }

  nav .fa-bars {
    display: block;
    float: right;
  }

  .btn {
    padding: 8px 16px;
  }
  .form-control {
    width: 70%;
  }
}
@media screen and (max-width: 650px) {

  nav ul li {
    margin-right: 15px;
  }

  main {
    margin: 20px;
  }
  .snap {
    font-size: 45px;
  }

  form {
    flex-direction: column;
  }

  input[type="email"] {
    width: 80%;
    margin-bottom: 10px;
  }
  div.results{
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  div.results {
    width: 100%;
    font-size: 15px;
  }
  div.results p {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }
  div.results{
    width: 100%;
  }
  .snap {
    font-size: 25px;
  }
}