* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #4e858a; */
  height: 100%;
  background-color: rgb(78, 133, 138);
  background: linear-gradient(NaNdeg, rgba(78, 133, 138, 1) 20%, rgba(100, 162, 167, 1) 75%);
}

header {
  background-color: #47d052;
  padding: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0.7;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

header h1 {
  color: #000009;
  font-size: 24px;
  font-family: Playfair Display;
  display: inline-block;
}

nav ul {
  list-style-type: none;
  margin-top: 10px;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav ul li a:hover {
  background-color: #ded4d4;
  border-radius: 10px;
  opacity: 0.7;
}

main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.7);
  /* height: 500px; */
  /* margin-bottom: 66px; */
}

div {
  background-color: none;
  display: flex;
  justify-content: center;
}

div.google-login {
  text-align: center;
  display: block;
}

div.google-button {
  display: block;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form input {
  display: block;
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  width: 500px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

p {
  margin-top: 20px;
  text-align: center;
}

p a {
  color: #333;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

footer {
  background-color: #47d052;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 10px;
  }

  header h1 {
    font-size: 20px;
  }

  footer{
    padding:10px;
  }

  nav ul li {
    margin-right: 15px;
  }

  main {
    margin: 20px;
    height: auto;
  }

  div.google-login,
  div.google-button {
    display: inline-block;
  }
}

@media screen and (max-width: 650px) {
  header h1 {
    font-size: 18px;
  }
  form input,
  form button {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 16px;
  }
  form input,
  form button {
    width: 300px;
  }
}
  
@media screen and (max-width: 400px) {
  header h1 {
    font-size: 14px;
  }
  form input,
  form button {
    width: 200px;
  }
}
